# Workflow

## Data Collection

### Data Loading

Load and clean each of the following datafiles: education.csv, life_expectancy.csv, crime.csv, area.csv, income.xlsx, and region.txt.
Use the name of the state as the index. There are fifty states in the USA, one federal district (District of Columbia) and five inhabited territories (Puerto Rico, American Samoa, Guam, Northern Mariana Islands, and US Virgin Islands). Note: The data files should contain at least the fifty states. Be thorough because some data files are really dirty. The file “DDA - File Description.pdf” contains the description of the columns of all the files.
Data Collection Report: Write an initial data collection report listing the data sources you loaded, the problems you encountered and the solutions you applied. Note: This information can serve other data scientists who want to replicate your study. You can do this on a markup cell of the notebook.

### Data Description

Data Description Report: In a Markup cell of your notebook write a data description report, describing the data you acquired, the number of rows in the data frames, the column you used as index, and the structure of each data frame (column name, type, and description). Note: This information will serve other data scientists who want to use your analysis.
Data Quality

Examine the data for completeness:

a. Check if you have all the cases you need. If the datasets have different numbers of rows, explain where these differences are.

b. Check if there are missing values and if that’s the case, list the states that have them.

c. Report your findings in the Data Quality Report.

## Save your Data

Save the cleaned data frames. Note: You can use the following convention: dataframe_name + “_clean” (for example “edu_clean.csv” for the “edu” data frame).

Set the column “State” as the index of the data frames and use this index to order the data frames. Check for extraneous characters in the names of the states. Replace with an underscore the white spaces of the states with more than one word.
Check that there are no duplicate rows.
Check that the rows correspond either to a state, to the District of Columbia or to one of the inhabited territories.
Transform extraneous values to “NaN.”
Check that the numerical columns are read as either “int” or “float.”

## Import librairies

In [151]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Data Collection

### Data loading

**Education CSV**

In [152]:
# load data
education = pd.read_csv('csv/education.csv', sep=";")
education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53 non-null     object
 1   Unnamed: 1  53 non-null     object
 2   Unnamed: 2  53 non-null     object
 3   Unnamed: 3  53 non-null     object
 4   Unnamed: 4  53 non-null     object
 5   Unnamed: 5  53 non-null     object
 6   Unnamed: 6  53 non-null     object
dtypes: object(7)
memory usage: 3.0+ KB

In [153]:
education.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"State,\nfederal district,\nor territory",% High school graduate\nor higher,High School rank,% Bachelor's degree\nor higher,Bachelor's rank,% Advanced degree,Advanced rank
1,Montana,93.0%,1,30.7%,21,10.1%,33
2,New Hampshire,92.8%,2,36.0%,9,13.8%,10
3,Minnesota,92.8%,3,34.8%,11,11.8%,18
4,Wyoming,92.8%,4,26.7%,41,9.3%,39

**We need to clean the dataset : skip the first row and get the second to create our own column name. We skip the rank column since won't use it (said in the description).**

In [154]:
education = pd.read_csv('csv/education.csv', sep=';', names=['State','HSGradPer','HSRank','BADegPer','BARank','AdvDegPer','AdvRank'], header=1, usecols=['State','HSGradPer','BADegPer','AdvDegPer'])
education.head()

            State HSGradPer BADegPer AdvDegPer
0         Montana     93.0%    30.7%     10.1%
1   New Hampshire     92.8%    36.0%     13.8%
2       Minnesota     92.8%    34.8%     11.8%
3         Wyoming     92.8%    26.7%      9.3%
4          Alaska     92.4%    29.0%     10.4%

**Sort values in alphabetical order to check that there are no problem with the data.**

In [155]:
education['State'].sort_values(ascending=True)

39                  Georgia
40                 New York
15               Washington
44                  Alabama
4                    Alaska
51                  Arizona
43                 Arkansas
50               California
13                 Colorado
21              Connecticut
26                 Delaware
17     District of Columbia
32                  Florida
11                   Hawaii
19                    Idaho
30                 Illinois
31                  Indiana
8                      Iowa
16                   Kansas
45                 Kentucky
47                Louisiana
7                     Maine
24                 Maryland
18            Massachusetts
20                 Michigan
2                 Minnesota
48              Mississippi
27                 Missouri
0                   Montana
14                 Nebraska
42                   Nevada
1             New Hampshire
28               New Jersey
46               New Mexico
36           North Carolina
5              North Dakota
25                     Ohio
33                 Oklahoma
22                   Oregon
23             Pennsylvania
34             Rhode Island
37           South Carolina
12             South Dakota
38                Tennessee
49                    Texas
35            United States
9                      Utah
6                   Vermont
29                 Virginia
41            West Virginia
10                Wisconsin
3                   Wyoming
Name: State, dtype: object

**We can see an error, Georgia and New York are in the top. We're gonna check the whitespaces**

In [156]:
# The isalpha() method returns True if all the characters are alphabet letters (a-z).
[state for state in education['State'] if not state.isalpha()]

['\xa0Montana',
 '\xa0New Hampshire',
 '\xa0Minnesota',
 '\xa0Wyoming',
 '\xa0Alaska',
 '\xa0North Dakota',
 '\xa0Vermont',
 '\xa0Maine',
 '\xa0Iowa',
 '\xa0Utah',
 '\xa0Wisconsin',
 '\xa0Hawaii',
 '\xa0South Dakota',
 '\xa0Colorado',
 '\xa0Nebraska',
 ' Washington',
 '\xa0Kansas',
 '\xa0District of Columbia',
 '\xa0Massachusetts',
 '\xa0Idaho',
 '\xa0Michigan',
 '\xa0Connecticut',
 '\xa0Oregon',
 '\xa0Pennsylvania',
 '\xa0Maryland',
 '\xa0Ohio',
 '\xa0Delaware',
 '\xa0Missouri',
 '\xa0New Jersey',
 '\xa0Virginia',
 '\xa0Illinois',
 '\xa0Indiana',
 '\xa0Florida',
 '\xa0Oklahoma',
 '\xa0Rhode Island',
 '\xa0United States',
 '\xa0North Carolina',
 '\xa0South Carolina',
 '\xa0Tennessee',
 ' Georgia',
 ' New York',
 '\xa0West Virginia',
 '\xa0Nevada',
 '\xa0Arkansas',
 '\xa0Alabama',
 '\xa0Kentucky',
 '\xa0New Mexico',
 '\xa0Louisiana',
 '\xa0Mississippi',
 '\xa0Texas',
 '\xa0California',
 '\xa0Arizona']

**The character '\xa0' is a non-breaking space. We'll use the Python string method strip to get rid of leading and trailing whitespaces.**

In [157]:
education['State'] = education['State'].str.strip()
[state for state in education['State'] if not state.isalpha()]

['New Hampshire',
 'North Dakota',
 'South Dakota',
 'District of Columbia',
 'New Jersey',
 'Rhode Island',
 'United States',
 'North Carolina',
 'South Carolina',
 'New York',
 'West Virginia',
 'New Mexico']

In [158]:
education['State'].sort_values(ascending=True)

44                 Alabama
4                   Alaska
51                 Arizona
43                Arkansas
50              California
13                Colorado
21             Connecticut
26                Delaware
17    District of Columbia
32                 Florida
39                 Georgia
11                  Hawaii
19                   Idaho
30                Illinois
31                 Indiana
8                     Iowa
16                  Kansas
45                Kentucky
47               Louisiana
7                    Maine
24                Maryland
18           Massachusetts
20                Michigan
2                Minnesota
48             Mississippi
27                Missouri
0                  Montana
14                Nebraska
42                  Nevada
1            New Hampshire
28              New Jersey
46              New Mexico
40                New York
36          North Carolina
5             North Dakota
25                    Ohio
33                Oklahoma
22                  Oregon
23            Pennsylvania
34            Rhode Island
37          South Carolina
12            South Dakota
38               Tennessee
49                   Texas
35           United States
9                     Utah
6                  Vermont
29                Virginia
15              Washington
41           West Virginia
10               Wisconsin
3                  Wyoming
Name: State, dtype: object

In [159]:
# Replace spaces in names with underscores
education['State'] = education['State'].str.replace(' ', '_')
education['State'].sort_values(ascending=True)

44                 Alabama
4                   Alaska
51                 Arizona
43                Arkansas
50              California
13                Colorado
21             Connecticut
26                Delaware
17    District_of_Columbia
32                 Florida
39                 Georgia
11                  Hawaii
19                   Idaho
30                Illinois
31                 Indiana
8                     Iowa
16                  Kansas
45                Kentucky
47               Louisiana
7                    Maine
24                Maryland
18           Massachusetts
20                Michigan
2                Minnesota
48             Mississippi
27                Missouri
0                  Montana
14                Nebraska
42                  Nevada
1            New_Hampshire
28              New_Jersey
46              New_Mexico
40                New_York
36          North_Carolina
5             North_Dakota
25                    Ohio
33                Oklahoma
22                  Oregon
23            Pennsylvania
34            Rhode_Island
37          South_Carolina
12            South_Dakota
38               Tennessee
49                   Texas
35           United_States
9                     Utah
6                  Vermont
29                Virginia
15              Washington
41           West_Virginia
10               Wisconsin
3                  Wyoming
Name: State, dtype: object

In [160]:
# remove (drop) United_States row since is not a city and just a summary row (the index is 35)
education.drop(index=35, inplace=True)

In [161]:
# check that there is only one row for each state
education['State'].is_unique

True

In [162]:
# Set the column State as the index
education.set_index('State', inplace=True)
# Order the dataframe according to the index
education.sort_index(axis=0, inplace=True)
# Inspect the data Frame
education

                     HSGradPer BADegPer AdvDegPer
State
Alabama                  85.3%    24.5%      9.1%
Alaska                   92.4%    29.0%     10.4%
Arizona                  82.1%    28.4%     10.7%
Arkansas                 85.6%    22.0%      7.9%
California               82.5%    32.6%     12.2%
Colorado                 91.1%    39.4%     14.6%
Connecticut              90.2%    38.4%     17.0%
Delaware                 89.3%    31.0%     12.9%
District_of_Columbia     90.3%    56.6%     32.8%
Florida                  87.6%    28.5%     10.3%
Georgia                  86.3%    29.9%     11.4%
Hawaii                   91.6%    32.0%     10.8%
Idaho                    90.2%    26.8%      8.5%
Illinois                 88.6%    33.4%     13.0%
Indiana                  88.3%    25.3%      9.2%
Iowa                     91.8%    27.7%      9.0%
Kansas                   90.5%    32.3%     11.7%
Kentucky                 85.2%    23.2%      9.6%
Louisiana                84.3%    23.4%      8.1%
Maine                    92.1%    30.3%     10.9%
Maryland                 89.8%    39.0%     18.0%
Massachusetts            90.3%    42.1%     18.7%
Michigan                 90.2%    28.1%     11.0%
Minnesota                92.8%    34.8%     11.8%
Mississippi              83.4%    21.3%      8.0%
Missouri                 89.2%    28.2%     10.7%
Montana                  93.0%    30.7%     10.1%
Nebraska                 90.9%    30.6%     10.2%
Nevada                   85.8%    23.7%      8.1%
New_Hampshire            92.8%    36.0%     13.8%
New_Jersey               89.2%    38.1%     14.7%
New_Mexico               85.0%    26.9%     11.8%
New_York                 86.1%    35.3%     15.4%
North_Carolina           86.9%    29.9%     10.6%
North_Dakota             92.3%    28.9%      7.8%
Ohio                     89.8%    27.2%     10.2%
Oklahoma                 87.5%    24.8%      8.3%
Oregon                   76.7%    32.3%     12.2%
Pennsylvania             89.9%    30.1%     11.8%
Rhode_Island             87.3%    33.0%     13.1%
South_Carolina           86.5%    27.0%      9.8%
South_Dakota             91.4%    27.8%      8.3%
Tennessee                86.5%    26.1%      9.6%
Texas                    82.8%    28.7%      9.9%
Utah                     91.8%    32.5%     11.0%
Vermont                  92.3%    36.8%     15.0%
Virginia                 89.0%    37.6%     16.1%
Washington               90.8%    34.5%     12.7%
West_Virginia            85.9%    19.9%      7.9%
Wisconsin                91.7%    29.0%      9.9%
Wyoming                  92.8%    26.7%      9.3%

##### **We need to remove the % and to convert the columns (strings) to float**

In [163]:
education['HSGradPer'] = education['HSGradPer'].str.replace('%','').astype('float')
education['BADegPer'] = education['BADegPer'].str.replace('%','').astype('float')
education['AdvDegPer'] = education['AdvDegPer'].str.replace('%','').astype('float')

education.head()

            HSGradPer  BADegPer  AdvDegPer
State
Alabama          85.3      24.5        9.1
Alaska           92.4      29.0       10.4
Arizona          82.1      28.4       10.7
Arkansas         85.6      22.0        7.9
California       82.5      32.6       12.2

In [164]:
# inspect the new data
education.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   HSGradPer  51 non-null     float64
 1   BADegPer   51 non-null     float64
 2   AdvDegPer  51 non-null     float64
dtypes: float64(3)
memory usage: 1.6+ KB

**life expectancy CSV**

In [165]:
# check the dataset quickly
life_expectancy = pd.read_csv('csv/life_expectancy.csv', sep=';')
life_expectancy

,State,LifeExp2018,LifeExp2010,MaleLifeExp,FemLifeExp
0,Hawaii,82.3,81.4,79.3,85.3
1,California,81.6,80.6,79.4,83.8
2,Puerto Rico,81.3,78.7,77.6,84.7
3,New York,81.3,80.3,79.0,83.4
4,U.S. Virgin Islands,81.2,79.2,76.3,85.6
5,Minnesota,81.0,80.8,79.0,83.0
6,Connecticut,80.9,80.7,78.7,83.0
7,Guam,80.7,78.2,77.6,83.8
8,Colorado,80.5,80.1,78.5,82.5
9,Massachusetts,80.5,80.5,78.2,82.6
10,Washington,80.4,80.1,78.4,82.4
11,New Jersey,80.4,80.0,78.2,82.5
12,Florida,80.0,79.0,77.3,82.6
13,Arizona,79.9,79.3,77.5,82.3
14,Rhode Island,79.9,79.5,77.7,82.1
15,North Dakota,79.9,79.7,77.6,82.5
16,Utah,79.9,79.8,78.2,81.6
17,Oregon,79.8,79.5,77.8,81.9
18,Vermont,79.7,80.1,77.8,81.7
19,Nebraska,79.6,79.7,77.4,81.7
20,Virginia,79.5,79.1,77.4,81.5
21,New Hampshire,79.5,80.3,77.5,81.4
22,Iowa,79.4,79.6,77.2,81.6
23,Wisconsin,79.4,79.6,77.3,81.5
24,Illinois,79.3,79.0,77.0,81.6
25,Idaho,79.3,79.4,77.4,81.2
26,Texas,79.1,78.4,76.8,81.5
27,Maryland,79.1,79.0,76.7,81.4
28,South Dakota,79.1,79.3,76.7,81.6
29,Wyoming,79.0,78.1,77.1,81.1
30,Alaska,78.8,78.0,76.7,81.2
31,Montana,78.8,78.5,76.8,81.0
32,United States,78.7[17],78.7,76.2,81.2
33,Maine,78.7,79.1,76.6,81.0
34,District of Columbia,78.6,76.5,75.7,81.3
35,Nevada,78.5,77.8,76.1,81.0
36,Kansas,78.5,78.6,76.3,80.7
37,Delaware,78.4,78.3,76.2,80.6
38,Pennsylvania,78.3,78.5,75.8,80.6
39,New Mexico,78.1,78.2,75.3,81.0
40,North Carolina,78.0,77.8,75.5,80.3
41,Michigan,78.0,78.0,75.7,80.2
42,Georgia,77.8,77.3,75.4,80.0
43,Missouri,77.3,77.4,74.9,79.8
44,South Carolina,77.0,76.8,74.4,79.6
45,Indiana,77.0,77.5,74.6,79.3
46,Ohio,76.9,77.7,74.6,79.2
47,Northern Mariana Islands,76.4,76.9,73.6,79.3
48,Louisiana,76.1,75.8,73.4,79.0
49,Oklahoma,76.0,75.7,73.7,78.4
50,Tennessee,76.0,76.2,73.3,78.6
51,Arkansas,75.9,76.0,73.1,78.6
52,Alabama,75.4,75.4,72.6,78.1
53,Kentucky,75.4,75.9,72.8,77.9
54,Mississippi,74.9,74.8,71.9,78.0
55,American Samoa,74.8,74.0,73.0,77.0
56,West Virginia,74.8,75.5,72.4,77.4

In [166]:
life_expectancy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   State        57 non-null     object
 1   LifeExp2018  57 non-null     object
 2   LifeExp2010  57 non-null     float64
 3   MaleLifeExp  57 non-null     float64
 4   FemLifeExp   57 non-null     float64
dtypes: float64(3), object(2)
memory usage: 2.4+ KB

In [167]:
life_expectancy['State'].sort_values(ascending=True)

42                      Georgia
52                      Alabama
30                       Alaska
55               American Samoa
13                      Arizona
51                     Arkansas
1                    California
8                      Colorado
6                   Connecticut
37                     Delaware
34         District of Columbia
12                      Florida
7                          Guam
0                        Hawaii
25                        Idaho
24                     Illinois
45                      Indiana
22                         Iowa
36                       Kansas
53                     Kentucky
48                    Louisiana
33                        Maine
27                     Maryland
9                 Massachusetts
41                     Michigan
5                     Minnesota
54                  Mississippi
43                     Missouri
31                      Montana
19                     Nebraska
35                       Nevada
21                New Hampshire
11                   New Jersey
39                   New Mexico
3                      New York
40               North Carolina
15                 North Dakota
47     Northern Mariana Islands
46                         Ohio
49                     Oklahoma
17                       Oregon
38                 Pennsylvania
2                   Puerto Rico
14                 Rhode Island
44               South Carolina
28                 South Dakota
50                    Tennessee
26                        Texas
4           U.S. Virgin Islands
32                United States
16                         Utah
18                      Vermont
20                     Virginia
10                   Washington
56                West Virginia
23                    Wisconsin
29                      Wyoming
Name: State, dtype: object

In [216]:
# We need the same way as the education dataset, so we create a function do to this

# 1. trim and strip
# 2. remove space
# 3. remove USA row
# 4. remove duplicates
# 5. set State as index and sort
def clean_state(df):
    # clean column 'State', eliminating extraneous whitespaces
    df['State'] = df['State'].str.strip()
    # replace the middle whitespaces with underscore
    df['State'] = df['State'].str.replace(' ','_')
    # Check if there are no duplicates
    if not df['State'].is_unique:
        print("Detected duplicates")
    # set the 'State' column as the index of the dataframe and sort    
    df.set_index('State', inplace=True)
    df.sort_index(axis = 0, inplace=True) 
    # if there is a summary row "United States", drop it
    if "United States" in df.index:
        df.drop(index = 'United_States', inplace = True)

In [169]:
clean_state(life_expectancy)

In [170]:
life_expectancy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 57 entries, Alabama to Wyoming
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LifeExp2018  57 non-null     object
 1   LifeExp2010  57 non-null     float64
 2   MaleLifeExp  57 non-null     float64
 3   FemLifeExp   57 non-null     float64
dtypes: float64(3), object(1)
memory usage: 4.3+ KB

**Now lets's check which numeric columns contain something else than digits or a dot.
We are going to use regular expressions to check if the elements of the dataframe contain numbers (digits with or without a dot).**

In [171]:
import re
# define a function that uses regular expresions to check if a string contains only digits with or without a dot
def check_digit_or_dot(x):
    return bool(re.match('^[0-9]*\.?[0-9]*$', str(x)))
# create a boolean dataframe that is the result of applying the function check_digit_or_dot to all the elements of life_exp
life_exp_bool = life_expectancy.applymap(check_digit_or_dot)
# inspect the rows of the boolean dataframe to see if there are any False values
# print the rows of life_expectancy where there is at least one value that's not a number
# the pandas method 'all' with axis = 1 checks if all the elements of a row are True
# in which case the row is OK, all of its elements passed the test
life_expectancy[~life_exp_bool.all(axis=1)]

              LifeExp2018  LifeExp2010  MaleLifeExp  FemLifeExp
State
United_States    78.7[17]         78.7         76.2        81.2

**All the columns contain numbers, but since the column LifeExp2018 for the "United States" row contained extraneous characters, the column was loaded as object (string). We'll change it to float.**

In [172]:
# coerce the columns to be numeric
life_expectancy.LifeExp2018 = pd.to_numeric(life_expectancy.LifeExp2018, errors='coerce')

**everything is now in float**

In [173]:
life_expectancy

                          LifeExp2018  LifeExp2010  MaleLifeExp  FemLifeExp
State
Alabama                          75.4         75.4         72.6        78.1
Alaska                           78.8         78.0         76.7        81.2
American_Samoa                   74.8         74.0         73.0        77.0
Arizona                          79.9         79.3         77.5        82.3
Arkansas                         75.9         76.0         73.1        78.6
California                       81.6         80.6         79.4        83.8
Colorado                         80.5         80.1         78.5        82.5
Connecticut                      80.9         80.7         78.7        83.0
Delaware                         78.4         78.3         76.2        80.6
District_of_Columbia             78.6         76.5         75.7        81.3
Florida                          80.0         79.0         77.3        82.6
Georgia                          77.8         77.3         75.4        80.0
Guam                             80.7         78.2         77.6        83.8
Hawaii                           82.3         81.4         79.3        85.3
Idaho                            79.3         79.4         77.4        81.2
Illinois                         79.3         79.0         77.0        81.6
Indiana                          77.0         77.5         74.6        79.3
Iowa                             79.4         79.6         77.2        81.6
Kansas                           78.5         78.6         76.3        80.7
Kentucky                         75.4         75.9         72.8        77.9
Louisiana                        76.1         75.8         73.4        79.0
Maine                            78.7         79.1         76.6        81.0
Maryland                         79.1         79.0         76.7        81.4
Massachusetts                    80.5         80.5         78.2        82.6
Michigan                         78.0         78.0         75.7        80.2
Minnesota                        81.0         80.8         79.0        83.0
Mississippi                      74.9         74.8         71.9        78.0
Missouri                         77.3         77.4         74.9        79.8
Montana                          78.8         78.5         76.8        81.0
Nebraska                         79.6         79.7         77.4        81.7
Nevada                           78.5         77.8         76.1        81.0
New_Hampshire                    79.5         80.3         77.5        81.4
New_Jersey                       80.4         80.0         78.2        82.5
New_Mexico                       78.1         78.2         75.3        81.0
New_York                         81.3         80.3         79.0        83.4
North_Carolina                   78.0         77.8         75.5        80.3
North_Dakota                     79.9         79.7         77.6        82.5
Northern_Mariana_Islands         76.4         76.9         73.6        79.3
Ohio                             76.9         77.7         74.6        79.2
Oklahoma                         76.0         75.7         73.7        78.4
Oregon                           79.8         79.5         77.8        81.9
Pennsylvania                     78.3         78.5         75.8        80.6
Puerto_Rico                      81.3         78.7         77.6        84.7
Rhode_Island                     79.9         79.5         77.7        82.1
South_Carolina                   77.0         76.8         74.4        79.6
South_Dakota                     79.1         79.3         76.7        81.6
Tennessee                        76.0         76.2         73.3        78.6
Texas                            79.1         78.4         76.8        81.5
U.S._Virgin_Islands              81.2         79.2         76.3        85.6
United_States                     NaN         78.7         76.2        81.2
Utah                             79.9         79.8         78.2        81.6
Vermont                          79.7         80.1         77.8        81.7
Virginia                         79.5         79.1         77.4        81.5
Washington                       80.4         80.1         78.4        82.4
West_Virginia                    74.8         75.5         72.4        77.4
Wisconsin                        79.4         79.6         77.3        81.5
Wyoming                          79.0         78.1         77.1        81.1

**crime CSV**

In [174]:
crime = pd.read_csv('csv/crime.csv', sep=';')

In [175]:
crime.head(10)

,State,Population\n(total inhabitants) \n(2015) [2],Murders and\nNonnegligent\nManslaughter\n(total deaths) \n(2015) [1],Murders\n(total deaths) \n(2015) [3],Gun Murders\n(total deaths) \n(2015) [3],Gun\nOwnership\n(%) \n(2013) [4],"Murder and\nNonnegligent\nManslaughter\nRate\n(per 100,000) \n(2015)","Murder Rate\n(per 100,000) \n(2015)","Gun\nMurder Rate\n(per 100,000) \n(2015)"
0,Alabama,"4,853,875",348,—[a],—[a],48.9,7.2,— [a],— [a]
1,Alaska,"737,709",59,57,39,61.7,8.0,7.7,5.3
2,Arizona,"6,817,565",306,278,171,32.3,4.5,4.1,2.5
3,Arkansas,"2,977,853",181,164,110,57.9,6.1,5.5,3.7
4,California,"38,993,940","1,861","1,861","1,275",20.1,4.8,4.8,3.3
5,Colorado,"5,448,819",176,176,115,34.3,3.2,3.2,2.1
6,Connecticut,"3,584,730",117,107,73,16.6,3.3,3.0,2.0
7,Delaware,"944,076",63,63,52,5.2,6.7,6.7,5.5
8,District of Columbia,"670,377",162,162,121,25.9,24.2,24.2,18.0
9,Florida,"20,244,914","1,041",— [b],— [b],32.5,5.1,— [b],— [b]

**The column names aren't consistents**

In [176]:
# load the file using our own column names
col_names = ['State','PopTot', 'MurderNMTot', 'MurderTot', 'GunMurderTot', 'GunOwnPer', 'MurderNMRate', 'MurderRate', 'GunMurderRate']
crime = pd.read_csv("./csv/crime.csv", sep=";", names = col_names , header=0)
crime.head(10)

,State,PopTot,MurderNMTot,MurderTot,GunMurderTot,GunOwnPer,MurderNMRate,MurderRate,GunMurderRate
0,Alabama,"4,853,875",348,—[a],—[a],48.9,7.2,— [a],— [a]
1,Alaska,"737,709",59,57,39,61.7,8.0,7.7,5.3
2,Arizona,"6,817,565",306,278,171,32.3,4.5,4.1,2.5
3,Arkansas,"2,977,853",181,164,110,57.9,6.1,5.5,3.7
4,California,"38,993,940","1,861","1,861","1,275",20.1,4.8,4.8,3.3
5,Colorado,"5,448,819",176,176,115,34.3,3.2,3.2,2.1
6,Connecticut,"3,584,730",117,107,73,16.6,3.3,3.0,2.0
7,Delaware,"944,076",63,63,52,5.2,6.7,6.7,5.5
8,District of Columbia,"670,377",162,162,121,25.9,24.2,24.2,18.0
9,Florida,"20,244,914","1,041",— [b],— [b],32.5,5.1,— [b],— [b]

In [177]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          62 non-null     object
 1   PopTot         51 non-null     object
 2   MurderNMTot    51 non-null     object
 3   MurderTot      51 non-null     object
 4   GunMurderTot   51 non-null     object
 5   GunOwnPer      51 non-null     float64
 6   MurderNMRate   51 non-null     float64
 7   MurderRate     51 non-null     object
 8   GunMurderRate  51 non-null     object
dtypes: float64(2), object(7)
memory usage: 4.5+ KB

**We see that there are too many states, we need to check the tail of the dataframe**

In [178]:
crime.tail(20)

,State,PopTot,MurderNMTot,MurderTot,GunMurderTot,GunOwnPer,MurderNMRate,MurderRate,GunMurderRate
42,Tennessee,"6,595,056",406,402,297,39.4,6.20,6.1,4.5
43,Texas,"27,429,639","1,316","1,276",906,35.7,4.80,4.7,3.3
44,Utah,"2,990,632",54,54,34,31.9,1.80,1.8,1.1
45,Vermont,"626,088",10,10,8,28.8,1.60,1.6,1.3
46,Virginia,"8,367,587",383,383,275,29.3,4.60,4.6,3.3
47,Washington,"7,160,290",211,209,141,27.7,2.90,2.9,2.0
48,West Virginia,"1,841,053",70,57,30,54.2,3.80,3.1,1.6
49,Wisconsin,"5,767,891",240,238,170,34.7,4.20,4.1,2.9
50,Wyoming,"586,107",16,16,10,53.8,2.56,2.7,1.7
51,\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,^,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Jump up to:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [179]:
# drop the rows that have only NaN values
drop_rows = list(range(51, 62))
crime.drop(index=drop_rows, inplace=True)
crime

,State,PopTot,MurderNMTot,MurderTot,GunMurderTot,GunOwnPer,MurderNMRate,MurderRate,GunMurderRate
0,Alabama,"4,853,875",348,—[a],—[a],48.9,7.20,— [a],— [a]
1,Alaska,"737,709",59,57,39,61.7,8.00,7.7,5.3
2,Arizona,"6,817,565",306,278,171,32.3,4.50,4.1,2.5
3,Arkansas,"2,977,853",181,164,110,57.9,6.10,5.5,3.7
4,California,"38,993,940","1,861","1,861","1,275",20.1,4.80,4.8,3.3
5,Colorado,"5,448,819",176,176,115,34.3,3.20,3.2,2.1
6,Connecticut,"3,584,730",117,107,73,16.6,3.30,3.0,2.0
7,Delaware,"944,076",63,63,52,5.2,6.70,6.7,5.5
8,District of Columbia,"670,377",162,162,121,25.9,24.20,24.2,18.0
9,Florida,"20,244,914","1,041",— [b],— [b],32.5,5.10,— [b],— [b]
10,Georgia,"10,199,398",615,565,464,31.6,6.00,5.5,4.5
11,Hawaii,"1,425,157",19,19,4,45.1,1.30,1.3,0.3
12,Idaho,"1,652,828",32,30,24,56.9,1.90,1.8,1.5
13,Illinois,"12,859,995[5]",744,497,440,26.2,5.80,3.9,3.4
14,Indiana,"6,612,768",373,272,209,33.8,5.60,4.1,3.2
15,Iowa,"3,121,997",72,72,49,33.8,2.30,2.3,1.6
16,Kansas,"2,906,721",128,125,91,32.2,4.40,4.3,3.1
17,Kentucky,"4,424,611",209,209,141,42.4,4.70,4.7,3.2
18,Louisiana,"4,668,960",481,474,379,44.5,10.30,10.2,8.1
19,Maine,"1,329,453",23,23,16,22.6,1.70,1.7,1.2
20,Maryland,"5,994,983",516,372,279,20.7,8.60,6.2,4.7
21,Massachusetts,"6,784,240",128,126,81,22.6,1.90,1.9,1.2
22,Michigan,"9,917,715",571,571,389,28.8,5.80,5.8,3.9
23,Minnesota,"5,482,435",133,133,79,36.7,2.40,2.4,1.4
24,Mississippi,"2,989,390",259,159,126,42.8,8.70,5.3,4.2
25,Missouri,"6,076,204",502,499,418,27.1,8.30,8.2,6.9
26,Montana,"1,032,073",36,36,18,52.3,3.50,3.5,1.7
27,Nebraska,"1,893,765",62,61,43,19.8,3.30,3.2,2.3
28,Nevada,"2,883,758",178,177,113,37.5,6.20,6.1,3.9
29,New Hampshire,"1,330,111",14,14,8,14.4,1.10,1.1,0.6
30,New Jersey,"8,935,421",363,353,255,11.3,4.10,4.0,2.9
31,New Mexico,"2,080,328",117,94,56,49.9,5.60,4.5,2.7
32,New York,"19,747,183",609,611,383,10.3,3.10,3.1,1.9
33,North Carolina,"10,035,186",517,506,353,28.7,5.20,5.0,3.5
34,North Dakota,"756,835",21,17,9,47.9,2.80,2.2,1.2
35,Ohio,"11,605,090",500,480,316,19.6,4.30,4.1,2.7
36,Oklahoma,"3,907,414",234,233,149,31.2,6.00,6.0,3.8
37,Oregon,"4,024,634",99,71,34,26.6,2.50,1.8,0.8
38,Pennsylvania,"12,791,904",658,651,497,27.1,5.10,5.1,3.9
39,Rhode Island,"1,055,607",29,27,10,5.8,2.70,2.6,0.9
40,South Carolina,"4,894,834",399,394,312,44.4,8.20,8.0,6.4
41,South Dakota,"857,919",32,27,12,35.0,3.70,3.1,1.4
42,Tennessee,"6,595,056",406,402,297,39.4,6.20,6.1,4.5
43,Texas,"27,429,639","1,316","1,276",906,35.7,4.80,4.7,3.3
44,Utah,"2,990,632",54,54,34,31.9,1.80,1.8,1.1
45,Vermont,"626,088",10,10,8,28.8,1.60,1.6,1.3
46,Virginia,"8,367,587",383,383,275,29.3,4.60,4.6,3.3
47,Washington,"7,160,290",211,209,141,27.7,2.90,2.9,2.0
48,West Virginia,"1,841,053",70,57,30,54.2,3.80,3.1,1.6
49,Wisconsin,"5,767,891",240,238,170,34.7,4.20,4.1,2.9
50,Wyoming,"586,107",16,16,10,53.8,2.56,2.7,1.7

In [180]:
# the entries number are now 51
crime.info()
crime

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          51 non-null     object
 1   PopTot         51 non-null     object
 2   MurderNMTot    51 non-null     object
 3   MurderTot      51 non-null     object
 4   GunMurderTot   51 non-null     object
 5   GunOwnPer      51 non-null     float64
 6   MurderNMRate   51 non-null     float64
 7   MurderRate     51 non-null     object
 8   GunMurderRate  51 non-null     object
dtypes: float64(2), object(7)
memory usage: 4.0+ KB

,State,PopTot,MurderNMTot,MurderTot,GunMurderTot,GunOwnPer,MurderNMRate,MurderRate,GunMurderRate
0,Alabama,"4,853,875",348,—[a],—[a],48.9,7.20,— [a],— [a]
1,Alaska,"737,709",59,57,39,61.7,8.00,7.7,5.3
2,Arizona,"6,817,565",306,278,171,32.3,4.50,4.1,2.5
3,Arkansas,"2,977,853",181,164,110,57.9,6.10,5.5,3.7
4,California,"38,993,940","1,861","1,861","1,275",20.1,4.80,4.8,3.3
5,Colorado,"5,448,819",176,176,115,34.3,3.20,3.2,2.1
6,Connecticut,"3,584,730",117,107,73,16.6,3.30,3.0,2.0
7,Delaware,"944,076",63,63,52,5.2,6.70,6.7,5.5
8,District of Columbia,"670,377",162,162,121,25.9,24.20,24.2,18.0
9,Florida,"20,244,914","1,041",— [b],— [b],32.5,5.10,— [b],— [b]
10,Georgia,"10,199,398",615,565,464,31.6,6.00,5.5,4.5
11,Hawaii,"1,425,157",19,19,4,45.1,1.30,1.3,0.3
12,Idaho,"1,652,828",32,30,24,56.9,1.90,1.8,1.5
13,Illinois,"12,859,995[5]",744,497,440,26.2,5.80,3.9,3.4
14,Indiana,"6,612,768",373,272,209,33.8,5.60,4.1,3.2
15,Iowa,"3,121,997",72,72,49,33.8,2.30,2.3,1.6
16,Kansas,"2,906,721",128,125,91,32.2,4.40,4.3,3.1
17,Kentucky,"4,424,611",209,209,141,42.4,4.70,4.7,3.2
18,Louisiana,"4,668,960",481,474,379,44.5,10.30,10.2,8.1
19,Maine,"1,329,453",23,23,16,22.6,1.70,1.7,1.2
20,Maryland,"5,994,983",516,372,279,20.7,8.60,6.2,4.7
21,Massachusetts,"6,784,240",128,126,81,22.6,1.90,1.9,1.2
22,Michigan,"9,917,715",571,571,389,28.8,5.80,5.8,3.9
23,Minnesota,"5,482,435",133,133,79,36.7,2.40,2.4,1.4
24,Mississippi,"2,989,390",259,159,126,42.8,8.70,5.3,4.2
25,Missouri,"6,076,204",502,499,418,27.1,8.30,8.2,6.9
26,Montana,"1,032,073",36,36,18,52.3,3.50,3.5,1.7
27,Nebraska,"1,893,765",62,61,43,19.8,3.30,3.2,2.3
28,Nevada,"2,883,758",178,177,113,37.5,6.20,6.1,3.9
29,New Hampshire,"1,330,111",14,14,8,14.4,1.10,1.1,0.6
30,New Jersey,"8,935,421",363,353,255,11.3,4.10,4.0,2.9
31,New Mexico,"2,080,328",117,94,56,49.9,5.60,4.5,2.7
32,New York,"19,747,183",609,611,383,10.3,3.10,3.1,1.9
33,North Carolina,"10,035,186",517,506,353,28.7,5.20,5.0,3.5
34,North Dakota,"756,835",21,17,9,47.9,2.80,2.2,1.2
35,Ohio,"11,605,090",500,480,316,19.6,4.30,4.1,2.7
36,Oklahoma,"3,907,414",234,233,149,31.2,6.00,6.0,3.8
37,Oregon,"4,024,634",99,71,34,26.6,2.50,1.8,0.8
38,Pennsylvania,"12,791,904",658,651,497,27.1,5.10,5.1,3.9
39,Rhode Island,"1,055,607",29,27,10,5.8,2.70,2.6,0.9
40,South Carolina,"4,894,834",399,394,312,44.4,8.20,8.0,6.4
41,South Dakota,"857,919",32,27,12,35.0,3.70,3.1,1.4
42,Tennessee,"6,595,056",406,402,297,39.4,6.20,6.1,4.5
43,Texas,"27,429,639","1,316","1,276",906,35.7,4.80,4.7,3.3
44,Utah,"2,990,632",54,54,34,31.9,1.80,1.8,1.1
45,Vermont,"626,088",10,10,8,28.8,1.60,1.6,1.3
46,Virginia,"8,367,587",383,383,275,29.3,4.60,4.6,3.3
47,Washington,"7,160,290",211,209,141,27.7,2.90,2.9,2.0
48,West Virginia,"1,841,053",70,57,30,54.2,3.80,3.1,1.6
49,Wisconsin,"5,767,891",240,238,170,34.7,4.20,4.1,2.9
50,Wyoming,"586,107",16,16,10,53.8,2.56,2.7,1.7

In [181]:
clean_state(crime)
crime

,PopTot,MurderNMTot,MurderTot,GunMurderTot,GunOwnPer,MurderNMRate,MurderRate,GunMurderRate
State,,,,,,,,
Alabama,"4,853,875",348,—[a],—[a],48.9,7.20,— [a],— [a]
Alaska,"737,709",59,57,39,61.7,8.00,7.7,5.3
Arizona,"6,817,565",306,278,171,32.3,4.50,4.1,2.5
Arkansas,"2,977,853",181,164,110,57.9,6.10,5.5,3.7
California,"38,993,940","1,861","1,861","1,275",20.1,4.80,4.8,3.3
Colorado,"5,448,819",176,176,115,34.3,3.20,3.2,2.1
Connecticut,"3,584,730",117,107,73,16.6,3.30,3.0,2.0
Delaware,"944,076",63,63,52,5.2,6.70,6.7,5.5
District_of_Columbia,"670,377",162,162,121,25.9,24.20,24.2,18.0
Florida,"20,244,914","1,041",— [b],— [b],32.5,5.10,— [b],— [b]
Georgia,"10,199,398",615,565,464,31.6,6.00,5.5,4.5
Hawaii,"1,425,157",19,19,4,45.1,1.30,1.3,0.3
Idaho,"1,652,828",32,30,24,56.9,1.90,1.8,1.5
Illinois,"12,859,995[5]",744,497,440,26.2,5.80,3.9,3.4
Indiana,"6,612,768",373,272,209,33.8,5.60,4.1,3.2
Iowa,"3,121,997",72,72,49,33.8,2.30,2.3,1.6
Kansas,"2,906,721",128,125,91,32.2,4.40,4.3,3.1
Kentucky,"4,424,611",209,209,141,42.4,4.70,4.7,3.2
Louisiana,"4,668,960",481,474,379,44.5,10.30,10.2,8.1
Maine,"1,329,453",23,23,16,22.6,1.70,1.7,1.2
Maryland,"5,994,983",516,372,279,20.7,8.60,6.2,4.7
Massachusetts,"6,784,240",128,126,81,22.6,1.90,1.9,1.2
Michigan,"9,917,715",571,571,389,28.8,5.80,5.8,3.9
Minnesota,"5,482,435",133,133,79,36.7,2.40,2.4,1.4
Mississippi,"2,989,390",259,159,126,42.8,8.70,5.3,4.2
Missouri,"6,076,204",502,499,418,27.1,8.30,8.2,6.9
Montana,"1,032,073",36,36,18,52.3,3.50,3.5,1.7
Nebraska,"1,893,765",62,61,43,19.8,3.30,3.2,2.3
Nevada,"2,883,758",178,177,113,37.5,6.20,6.1,3.9
New_Hampshire,"1,330,111",14,14,8,14.4,1.10,1.1,0.6
New_Jersey,"8,935,421",363,353,255,11.3,4.10,4.0,2.9
New_Mexico,"2,080,328",117,94,56,49.9,5.60,4.5,2.7
New_York,"19,747,183",609,611,383,10.3,3.10,3.1,1.9
North_Carolina,"10,035,186",517,506,353,28.7,5.20,5.0,3.5
North_Dakota,"756,835",21,17,9,47.9,2.80,2.2,1.2
Ohio,"11,605,090",500,480,316,19.6,4.30,4.1,2.7
Oklahoma,"3,907,414",234,233,149,31.2,6.00,6.0,3.8
Oregon,"4,024,634",99,71,34,26.6,2.50,1.8,0.8
Pennsylvania,"12,791,904",658,651,497,27.1,5.10,5.1,3.9
Rhode_Island,"1,055,607",29,27,10,5.8,2.70,2.6,0.9
South_Carolina,"4,894,834",399,394,312,44.4,8.20,8.0,6.4
South_Dakota,"857,919",32,27,12,35.0,3.70,3.1,1.4
Tennessee,"6,595,056",406,402,297,39.4,6.20,6.1,4.5
Texas,"27,429,639","1,316","1,276",906,35.7,4.80,4.7,3.3
Utah,"2,990,632",54,54,34,31.9,1.80,1.8,1.1
Vermont,"626,088",10,10,8,28.8,1.60,1.6,1.3
Virginia,"8,367,587",383,383,275,29.3,4.60,4.6,3.3
Washington,"7,160,290",211,209,141,27.7,2.90,2.9,2.0
West_Virginia,"1,841,053",70,57,30,54.2,3.80,3.1,1.6
Wisconsin,"5,767,891",240,238,170,34.7,4.20,4.1,2.9
Wyoming,"586,107",16,16,10,53.8,2.56,2.7,1.7

In [182]:
# get rid of the commas in PopTot
crime.PopTot = crime.PopTot.str.replace(',','')
crime.MurderNMTot = crime.MurderNMTot.str.replace(',','')
crime.MurderTot = crime.MurderTot.str.replace(',','')
crime.GunMurderTot = crime.GunMurderTot.str.replace(',','')
crime

,PopTot,MurderNMTot,MurderTot,GunMurderTot,GunOwnPer,MurderNMRate,MurderRate,GunMurderRate
State,,,,,,,,
Alabama,4853875,348,—[a],—[a],48.9,7.20,— [a],— [a]
Alaska,737709,59,57,39,61.7,8.00,7.7,5.3
Arizona,6817565,306,278,171,32.3,4.50,4.1,2.5
Arkansas,2977853,181,164,110,57.9,6.10,5.5,3.7
California,38993940,1861,1861,1275,20.1,4.80,4.8,3.3
Colorado,5448819,176,176,115,34.3,3.20,3.2,2.1
Connecticut,3584730,117,107,73,16.6,3.30,3.0,2.0
Delaware,944076,63,63,52,5.2,6.70,6.7,5.5
District_of_Columbia,670377,162,162,121,25.9,24.20,24.2,18.0
Florida,20244914,1041,— [b],— [b],32.5,5.10,— [b],— [b]
Georgia,10199398,615,565,464,31.6,6.00,5.5,4.5
Hawaii,1425157,19,19,4,45.1,1.30,1.3,0.3
Idaho,1652828,32,30,24,56.9,1.90,1.8,1.5
Illinois,12859995[5],744,497,440,26.2,5.80,3.9,3.4
Indiana,6612768,373,272,209,33.8,5.60,4.1,3.2
Iowa,3121997,72,72,49,33.8,2.30,2.3,1.6
Kansas,2906721,128,125,91,32.2,4.40,4.3,3.1
Kentucky,4424611,209,209,141,42.4,4.70,4.7,3.2
Louisiana,4668960,481,474,379,44.5,10.30,10.2,8.1
Maine,1329453,23,23,16,22.6,1.70,1.7,1.2
Maryland,5994983,516,372,279,20.7,8.60,6.2,4.7
Massachusetts,6784240,128,126,81,22.6,1.90,1.9,1.2
Michigan,9917715,571,571,389,28.8,5.80,5.8,3.9
Minnesota,5482435,133,133,79,36.7,2.40,2.4,1.4
Mississippi,2989390,259,159,126,42.8,8.70,5.3,4.2
Missouri,6076204,502,499,418,27.1,8.30,8.2,6.9
Montana,1032073,36,36,18,52.3,3.50,3.5,1.7
Nebraska,1893765,62,61,43,19.8,3.30,3.2,2.3
Nevada,2883758,178,177,113,37.5,6.20,6.1,3.9
New_Hampshire,1330111,14,14,8,14.4,1.10,1.1,0.6
New_Jersey,8935421,363,353,255,11.3,4.10,4.0,2.9
New_Mexico,2080328,117,94,56,49.9,5.60,4.5,2.7
New_York,19747183,609,611,383,10.3,3.10,3.1,1.9
North_Carolina,10035186,517,506,353,28.7,5.20,5.0,3.5
North_Dakota,756835,21,17,9,47.9,2.80,2.2,1.2
Ohio,11605090,500,480,316,19.6,4.30,4.1,2.7
Oklahoma,3907414,234,233,149,31.2,6.00,6.0,3.8
Oregon,4024634,99,71,34,26.6,2.50,1.8,0.8
Pennsylvania,12791904,658,651,497,27.1,5.10,5.1,3.9
Rhode_Island,1055607,29,27,10,5.8,2.70,2.6,0.9
South_Carolina,4894834,399,394,312,44.4,8.20,8.0,6.4
South_Dakota,857919,32,27,12,35.0,3.70,3.1,1.4
Tennessee,6595056,406,402,297,39.4,6.20,6.1,4.5
Texas,27429639,1316,1276,906,35.7,4.80,4.7,3.3
Utah,2990632,54,54,34,31.9,1.80,1.8,1.1
Vermont,626088,10,10,8,28.8,1.60,1.6,1.3
Virginia,8367587,383,383,275,29.3,4.60,4.6,3.3
Washington,7160290,211,209,141,27.7,2.90,2.9,2.0
West_Virginia,1841053,70,57,30,54.2,3.80,3.1,1.6
Wisconsin,5767891,240,238,170,34.7,4.20,4.1,2.9
Wyoming,586107,16,16,10,53.8,2.56,2.7,1.7

In [183]:
# se regular expressions to check if the elements of the dataframe contain numbers (digits with or without a dot).
# we apply the function to all the elements of crime and obtain a boolean dataframe
crime_bool = crime.applymap(check_digit_or_dot)
# the pandas method 'all' with axis = 1 checks if all the elements of a row are True
# in which case the row is OK, all of its elements passed the test
crime[~crime_bool.all(axis=1)]

,PopTot,MurderNMTot,MurderTot,GunMurderTot,GunOwnPer,MurderNMRate,MurderRate,GunMurderRate
State,,,,,,,,
Alabama,4853875,348,—[a],—[a],48.9,7.2,— [a],— [a]
Florida,20244914,1041,— [b],— [b],32.5,5.1,— [b],— [b]
Illinois,12859995[5],744,497,440,26.2,5.8,3.9,3.4

In [184]:
# We obtained a list of the problematic states. First we are going to fix the problem in the columns MurderTot, GunMurderTot, MurderRate and GunMurderRate
crime.MurderNMTot = pd.to_numeric(crime.MurderNMTot, errors = 'coerce')
crime.MurderTot = pd.to_numeric(crime.MurderTot, errors = 'coerce')
crime.GunMurderTot = pd.to_numeric(crime.GunMurderTot, errors = 'coerce')
crime.MurderRate = pd.to_numeric(crime.MurderRate, errors = 'coerce')
crime.GunMurderRate = pd.to_numeric(crime.GunMurderRate, errors = 'coerce')

In [185]:
# Set to Nan
crime_bool = crime.applymap(check_digit_or_dot)
crime[~crime_bool.all(axis=1)]

,PopTot,MurderNMTot,MurderTot,GunMurderTot,GunOwnPer,MurderNMRate,MurderRate,GunMurderRate
State,,,,,,,,
Alabama,4853875,348,NaN,NaN,48.9,7.2,NaN,NaN
Florida,20244914,1041,NaN,NaN,32.5,5.1,NaN,NaN
Illinois,12859995[5],744,497.0,440.0,26.2,5.8,3.9,3.4

In [186]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PopTot         51 non-null     object
 1   MurderNMTot    51 non-null     int64
 2   MurderTot      49 non-null     float64
 3   GunMurderTot   49 non-null     float64
 4   GunOwnPer      51 non-null     float64
 5   MurderNMRate   51 non-null     float64
 6   MurderRate     49 non-null     float64
 7   GunMurderRate  49 non-null     float64
dtypes: float64(6), int64(1), object(1)
memory usage: 5.6+ KB

In [187]:
# Illinois column has a strange number : 12859995[5], we have to fix it and remove the [5]
crime.loc['Illinois','PopTot'] = crime.loc['Illinois','PopTot'].replace('[5]','')
crime

,PopTot,MurderNMTot,MurderTot,GunMurderTot,GunOwnPer,MurderNMRate,MurderRate,GunMurderRate
State,,,,,,,,
Alabama,4853875,348,NaN,NaN,48.9,7.20,NaN,NaN
Alaska,737709,59,57.0,39.0,61.7,8.00,7.7,5.3
Arizona,6817565,306,278.0,171.0,32.3,4.50,4.1,2.5
Arkansas,2977853,181,164.0,110.0,57.9,6.10,5.5,3.7
California,38993940,1861,1861.0,1275.0,20.1,4.80,4.8,3.3
Colorado,5448819,176,176.0,115.0,34.3,3.20,3.2,2.1
Connecticut,3584730,117,107.0,73.0,16.6,3.30,3.0,2.0
Delaware,944076,63,63.0,52.0,5.2,6.70,6.7,5.5
District_of_Columbia,670377,162,162.0,121.0,25.9,24.20,24.2,18.0
Florida,20244914,1041,NaN,NaN,32.5,5.10,NaN,NaN
Georgia,10199398,615,565.0,464.0,31.6,6.00,5.5,4.5
Hawaii,1425157,19,19.0,4.0,45.1,1.30,1.3,0.3
Idaho,1652828,32,30.0,24.0,56.9,1.90,1.8,1.5
Illinois,12859995,744,497.0,440.0,26.2,5.80,3.9,3.4
Indiana,6612768,373,272.0,209.0,33.8,5.60,4.1,3.2
Iowa,3121997,72,72.0,49.0,33.8,2.30,2.3,1.6
Kansas,2906721,128,125.0,91.0,32.2,4.40,4.3,3.1
Kentucky,4424611,209,209.0,141.0,42.4,4.70,4.7,3.2
Louisiana,4668960,481,474.0,379.0,44.5,10.30,10.2,8.1
Maine,1329453,23,23.0,16.0,22.6,1.70,1.7,1.2
Maryland,5994983,516,372.0,279.0,20.7,8.60,6.2,4.7
Massachusetts,6784240,128,126.0,81.0,22.6,1.90,1.9,1.2
Michigan,9917715,571,571.0,389.0,28.8,5.80,5.8,3.9
Minnesota,5482435,133,133.0,79.0,36.7,2.40,2.4,1.4
Mississippi,2989390,259,159.0,126.0,42.8,8.70,5.3,4.2
Missouri,6076204,502,499.0,418.0,27.1,8.30,8.2,6.9
Montana,1032073,36,36.0,18.0,52.3,3.50,3.5,1.7
Nebraska,1893765,62,61.0,43.0,19.8,3.30,3.2,2.3
Nevada,2883758,178,177.0,113.0,37.5,6.20,6.1,3.9
New_Hampshire,1330111,14,14.0,8.0,14.4,1.10,1.1,0.6
New_Jersey,8935421,363,353.0,255.0,11.3,4.10,4.0,2.9
New_Mexico,2080328,117,94.0,56.0,49.9,5.60,4.5,2.7
New_York,19747183,609,611.0,383.0,10.3,3.10,3.1,1.9
North_Carolina,10035186,517,506.0,353.0,28.7,5.20,5.0,3.5
North_Dakota,756835,21,17.0,9.0,47.9,2.80,2.2,1.2
Ohio,11605090,500,480.0,316.0,19.6,4.30,4.1,2.7
Oklahoma,3907414,234,233.0,149.0,31.2,6.00,6.0,3.8
Oregon,4024634,99,71.0,34.0,26.6,2.50,1.8,0.8
Pennsylvania,12791904,658,651.0,497.0,27.1,5.10,5.1,3.9
Rhode_Island,1055607,29,27.0,10.0,5.8,2.70,2.6,0.9
South_Carolina,4894834,399,394.0,312.0,44.4,8.20,8.0,6.4
South_Dakota,857919,32,27.0,12.0,35.0,3.70,3.1,1.4
Tennessee,6595056,406,402.0,297.0,39.4,6.20,6.1,4.5
Texas,27429639,1316,1276.0,906.0,35.7,4.80,4.7,3.3
Utah,2990632,54,54.0,34.0,31.9,1.80,1.8,1.1
Vermont,626088,10,10.0,8.0,28.8,1.60,1.6,1.3
Virginia,8367587,383,383.0,275.0,29.3,4.60,4.6,3.3
Washington,7160290,211,209.0,141.0,27.7,2.90,2.9,2.0
West_Virginia,1841053,70,57.0,30.0,54.2,3.80,3.1,1.6
Wisconsin,5767891,240,238.0,170.0,34.7,4.20,4.1,2.9
Wyoming,586107,16,16.0,10.0,53.8,2.56,2.7,1.7

In [188]:
crime.PopTot = pd.to_numeric(crime.PopTot, errors = 'coerce')
crime.head()

,PopTot,MurderNMTot,MurderTot,GunMurderTot,GunOwnPer,MurderNMRate,MurderRate,GunMurderRate
State,,,,,,,,
Alabama,4853875,348,NaN,NaN,48.9,7.2,NaN,NaN
Alaska,737709,59,57.0,39.0,61.7,8.0,7.7,5.3
Arizona,6817565,306,278.0,171.0,32.3,4.5,4.1,2.5
Arkansas,2977853,181,164.0,110.0,57.9,6.1,5.5,3.7
California,38993940,1861,1861.0,1275.0,20.1,4.8,4.8,3.3

In [189]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PopTot         51 non-null     int64
 1   MurderNMTot    51 non-null     int64
 2   MurderTot      49 non-null     float64
 3   GunMurderTot   49 non-null     float64
 4   GunOwnPer      51 non-null     float64
 5   MurderNMRate   51 non-null     float64
 6   MurderRate     49 non-null     float64
 7   GunMurderRate  49 non-null     float64
dtypes: float64(6), int64(2)
memory usage: 5.6+ KB

**No more object**

In [190]:
crime.shape

(51, 8)

In [191]:
crime.dtypes.value_counts()

float64    6
int64      2
dtype: int64

**Area CSV**

In [192]:
area = pd.read_csv('csv/area.csv', sep=';')
area.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   State      50 non-null     object
 1   TotalRank  50 non-null     int64
 2   TotalSqMi  50 non-null     float64
 3   TotalKmQ   50 non-null     int64
 4   LandRank   50 non-null     int64
 5   LandSqMi   50 non-null     float64
 6   LandKmQ    50 non-null     int64
 7   LandPer    50 non-null     float64
 8   WaterRank  50 non-null     int64
 9   WaterSqMi  50 non-null     float64
 10  WaterKmQ   50 non-null     int64
 11  WaterPer   50 non-null     float64
dtypes: float64(5), int64(6), object(1)
memory usage: 4.8+ KB

In [193]:
# drop rank column because we won't use it
area.drop(columns=['TotalRank', 'LandRank', 'WaterRank'], inplace=True)
area.head()

,State,TotalSqMi,TotalKmQ,LandSqMi,LandKmQ,LandPer,WaterSqMi,WaterKmQ,WaterPer
0,Alaska,665384.04,1723337,570640.95,1477953,85.76,94743.10,245384,14.24
1,Texas,268596.46,695662,261231.71,676587,97.26,7364.75,19075,2.74
2,California,163694.74,423967,155779.22,403466,95.16,7915.52,20501,4.84
3,Montana,147039.71,380831,145545.80,376962,98.98,1493.91,3869,1.02
4,New Mexico,121590.30,314917,121298.15,314161,99.76,292.15,757,0.24

In [194]:
# apply the function to clean the State
clean_state(area)
area.head()

,TotalSqMi,TotalKmQ,LandSqMi,LandKmQ,LandPer,WaterSqMi,WaterKmQ,WaterPer
State,,,,,,,,
Alabama,52420.07,135767,50645.33,131171,96.61,1774.74,4597,3.39
Alaska,665384.04,1723337,570640.95,1477953,85.76,94743.10,245384,14.24
Arizona,113990.30,295234,113594.08,294207,99.65,396.22,1026,0.35
Arkansas,53178.55,137732,52035.48,134771,97.85,1143.07,2961,2.15
California,163694.74,423967,155779.22,403466,95.16,7915.52,20501,4.84

In [195]:
area.describe()

,TotalSqMi,TotalKmQ,LandSqMi,LandKmQ,LandPer,WaterSqMi,WaterKmQ,WaterPer
count,50.000000,5.000000e+01,50.000000,5.000000e+01,50.000000,50.000000,50.000000,50.000000
mean,75933.477600,1.966668e+05,70636.887800,1.829487e+05,91.668400,5296.590400,13718.160000,8.331600
std,97327.423173,2.520769e+05,85815.678218,2.222615e+05,10.244987,14256.070622,36923.113729,10.244987
min,1544.890000,4.001000e+03,1033.810000,2.678000e+03,58.460000,191.830000,497.000000,0.240000
25%,37416.612500,9.690850e+04,36741.167500,9.515900e+04,87.222500,705.762500,1828.000000,1.645000
50%,57093.180000,1.478705e+05,53891.280000,1.395775e+05,96.695000,1501.210000,3888.000000,3.305000
75%,84564.897500,2.190222e+05,81225.725000,2.103735e+05,98.355000,4373.040000,11325.750000,12.777500
max,665384.040000,1.723337e+06,570640.950000,1.477953e+06,99.760000,94743.100000,245384.000000,41.540000

**income CSV**

In [219]:
income = pd.read_excel("./csv/income.xls")
income.head()

,income,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Rank,State,Income2017,Income2016,Income2015,Income2014,Income2013,Income2012,Income2011,Income2010,Income2009,Income2008,Income2007
1,1,District of Columbia,82336,75506,75628,71648,67572,65246,66583,63124,59290,57936,54317
2,2,Maryland,80776,78945,75847,73971,72483,71836,70004,68854,69272,70545,68080
3,3,New Jersey,80088,76126,72222,72919,70165,69667,67458,67681,68342,70373,67035
4,4,Hawaii,77765,74511,73486,69592,68020,66259,61821,63030,64098,67214,63746

In [220]:
# The column names are in the second row. So we'll specify the header parameter (it is 0-indexed)
income = pd.read_excel("./csv/income.xls", header=1)
income.head()

,Rank,State,Income2017,Income2016,Income2015,Income2014,Income2013,Income2012,Income2011,Income2010,Income2009,Income2008,Income2007
0,1,District of Columbia,82336,75506,75628,71648,67572,65246,66583,63124,59290,57936,54317
1,2,Maryland,80776,78945,75847,73971,72483,71836,70004,68854,69272,70545,68080
2,3,New Jersey,80088,76126,72222,72919,70165,69667,67458,67681,68342,70373,67035
3,4,Hawaii,77765,74511,73486,69592,68020,66259,61821,63030,64098,67214,63746
4,5,Massachusetts,77385,75297,70628,69160,66768,65339,62859,62072,64081,65401,62365

In [221]:
# Drop the rank column because we won't use it
income.drop(columns=['Rank'], inplace=True)
income.head()

,State,Income2017,Income2016,Income2015,Income2014,Income2013,Income2012,Income2011,Income2010,Income2009,Income2008,Income2007
0,District of Columbia,82336,75506,75628,71648,67572,65246,66583,63124,59290,57936,54317
1,Maryland,80776,78945,75847,73971,72483,71836,70004,68854,69272,70545,68080
2,New Jersey,80088,76126,72222,72919,70165,69667,67458,67681,68342,70373,67035
3,Hawaii,77765,74511,73486,69592,68020,66259,61821,63030,64098,67214,63746
4,Massachusetts,77385,75297,70628,69160,66768,65339,62859,62072,64081,65401,62365

In [222]:
clean_state(income)
income.head()

,Income2017,Income2016,Income2015,Income2014,Income2013,Income2012,Income2011,Income2010,Income2009,Income2008,Income2007
State,,,,,,,,,,,
Alabama,48123,46257,44765,42830,42849,41574,41415,40474,40489,42666,40554
Alaska,73181,76440,73355,71583,72237,67712,67825,64576,66953,68460,64333
Arizona,56581,53558,51492,50068,48510,47826,46709,46789,48745,50958,49889
Arkansas,45869,45907,42798,44922,39376,39018,41302,38587,36538,39586,38134
California,71805,67739,64500,61933,60190,58328,57287,57708,58931,61021,59948

**region TXT**

In [223]:
region = pd.read_csv('csv/region.txt')

In [224]:
region.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 1 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   "Name"	"Abb"	"Region"	"Division"  50 non-null     object
dtypes: object(1)
memory usage: 528.0+ bytes

In [225]:
region.head()

                 "Name"\t"Abb"\t"Region"\t"Division"
0  "1"\t"Alabama"\t"AL"\t"South"\t"East South Cen...
1             "2"\t"Alaska"\t"AK"\t"West"\t"Pacific"
2           "3"\t"Arizona"\t"AZ"\t"West"\t"Mountain"
3  "4"\t"Arkansas"\t"AR"\t"South"\t"west south ce...
4         "5"\t"California"\t"CA"\t"West"\t"Pacific"

In [226]:
# separate the file by tabs and rename Name by State
region = pd.read_csv("./csv/region.txt", sep="\t", names = ['State','Abb','Region','Division'], header=0)
region.head()

        State Abb Region            Division
1     Alabama  AL  South  East South Central
2      Alaska  AK   West             Pacific
3     Arizona  AZ   West            Mountain
4    Arkansas  AR  South  west south central
5  California  CA   West             Pacific

In [227]:
# Check the region column
region.Region.value_counts()

South            16
West             13
North Central    12
Northeast         9
Name: Region, dtype: int64

In [228]:
# Check the division column
region.Division.value_counts()

Mountain              8
South Atlantic        7
West North Central    7
New England           6
Pacific               5
East North Central    5
East South Central    4
Middle Atlantic       3
West South Central    3
south atlantic        1
west south central    1
Name: Division, dtype: int64

In [229]:
# Normalize the title of division
region.Division = region.Division.str.title()
region.Division.value_counts()

Mountain              8
South Atlantic        8
West North Central    7
New England           6
Pacific               5
East North Central    5
East South Central    4
West South Central    4
Middle Atlantic       3
Name: Division, dtype: int64

In [230]:
clean_state(region)
region

               Abb         Region            Division
State
Alabama         AL          South  East South Central
Alaska          AK           West             Pacific
Arizona         AZ           West            Mountain
Arkansas        AR          South  West South Central
California      CA           West             Pacific
Colorado        CO           West            Mountain
Connecticut     CT      Northeast         New England
Delaware        DE          South      South Atlantic
Florida         FL          South      South Atlantic
Georgia         GA          South      South Atlantic
Hawaii          HI           West             Pacific
Idaho           ID           West            Mountain
Illinois        IL  North Central  East North Central
Indiana         IN  North Central  East North Central
Iowa            IA  North Central  West North Central
Kansas          KS  North Central  West North Central
Kentucky        KY          South  East South Central
Louisiana       LA          South  West South Central
Maine           ME      Northeast         New England
Maryland        MD          South      South Atlantic
Massachusetts   MA      Northeast         New England
Michigan        MI  North Central  East North Central
Minnesota       MN  North Central  West North Central
Mississippi     MS          South  East South Central
Missouri        MO  North Central  West North Central
Montana         MT           West            Mountain
Nebraska        NE  North Central  West North Central
Nevada          NV           West            Mountain
New_Hampshire   NH      Northeast         New England
New_Jersey      NJ      Northeast     Middle Atlantic
New_Mexico      NM           West            Mountain
New_York        NY      Northeast     Middle Atlantic
North_Carolina  NC          South      South Atlantic
North_Dakota    ND  North Central  West North Central
Ohio            OH  North Central  East North Central
Oklahoma        OK          South  West South Central
Oregon          OR           West             Pacific
Pennsylvania    PA      Northeast     Middle Atlantic
Rhode_Island    RI      Northeast         New England
South_Carolina  SC          South      South Atlantic
South_Dakota    SD  North Central  West North Central
Tennessee       TN          South  East South Central
Texas           TX          South  West South Central
Utah            UT           West            Mountain
Vermont         VT      Northeast         New England
Virginia        VA          South      South Atlantic
Washington      WA           West             Pacific
West_Virginia   WV          South      South Atlantic
Wisconsin       WI  North Central  East North Central
Wyoming         WY           West            Mountain

### Data Collection Report

We loaded four csv data files, an excel file, and a text file. The first five data files were acquired from the following internet sources (Wikipedia):   
* edu.csv : [List of U.S. states and territories by educational attainment](https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_educational_attainment)
* crime.csv: [Gun violence in the United States by state](https://en.wikipedia.org/wiki/Gun_violence_in_the_United_States_by_state)
* area.csv: [List of U.S. states and territories by area](https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_area)
* life_expectancy.csv: [List of U.S. states and territories by life expectancy](https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_life_expectancy)
The income file was provided in Excel format  
* income.xlsx: Household income in the United States (https://en.wikipedia.org/wiki/Household_income_in_the_United_States)
The region text data file was obtained from R package ‘datasets’ (state.x77)  
* region.txt 

#### Problems encountered:
We encountered the following problems:  
* the *State* column in some of the files contained extra whitespaces. We cleaned the leading and trailing whitespaces and replaced the middle whitespaces with underscores.
* there were numerical columns with commas and the percent sign. We deleted the commmas and the percent signs and coerced the column to numeric. 
* there were also extraneous characters in some of the numerical columns. We detected them, cleaned them and casted the columns to numeric. 
* some files had extra lines before and after the data. We skipped them or deleted them.
* some files had verbose column names. We provided our own column names. 
* some files contained a summary row for *United States*. We deleted it.

## Data Description

**check the number of rows of each dataframe.**

In [240]:
education.head()

            HSGradPer  BADegPer  AdvDegPer
State
Alabama          85.3      24.5        9.1
Alaska           92.4      29.0       10.4
Arizona          82.1      28.4       10.7
Arkansas         85.6      22.0        7.9
California       82.5      32.6       12.2

In [242]:
education.shape

(51, 3)

In [243]:
life_expectancy.head()

                LifeExp2018  LifeExp2010  MaleLifeExp  FemLifeExp
State
Alabama                75.4         75.4         72.6        78.1
Alaska                 78.8         78.0         76.7        81.2
American_Samoa         74.8         74.0         73.0        77.0
Arizona                79.9         79.3         77.5        82.3
Arkansas               75.9         76.0         73.1        78.6

In [244]:
life_expectancy.shape

(57, 4)

In [245]:
area.head()

,TotalSqMi,TotalKmQ,LandSqMi,LandKmQ,LandPer,WaterSqMi,WaterKmQ,WaterPer
State,,,,,,,,
Alabama,52420.07,135767,50645.33,131171,96.61,1774.74,4597,3.39
Alaska,665384.04,1723337,570640.95,1477953,85.76,94743.10,245384,14.24
Arizona,113990.30,295234,113594.08,294207,99.65,396.22,1026,0.35
Arkansas,53178.55,137732,52035.48,134771,97.85,1143.07,2961,2.15
California,163694.74,423967,155779.22,403466,95.16,7915.52,20501,4.84

In [246]:
area.shape

(50, 8)

In [247]:
crime.head()

,PopTot,MurderNMTot,MurderTot,GunMurderTot,GunOwnPer,MurderNMRate,MurderRate,GunMurderRate
State,,,,,,,,
Alabama,4853875,348,NaN,NaN,48.9,7.2,NaN,NaN
Alaska,737709,59,57.0,39.0,61.7,8.0,7.7,5.3
Arizona,6817565,306,278.0,171.0,32.3,4.5,4.1,2.5
Arkansas,2977853,181,164.0,110.0,57.9,6.1,5.5,3.7
California,38993940,1861,1861.0,1275.0,20.1,4.8,4.8,3.3

In [248]:
crime.shape

(51, 8)

In [249]:
income.head()

,Income2017,Income2016,Income2015,Income2014,Income2013,Income2012,Income2011,Income2010,Income2009,Income2008,Income2007
State,,,,,,,,,,,
Alabama,48123,46257,44765,42830,42849,41574,41415,40474,40489,42666,40554
Alaska,73181,76440,73355,71583,72237,67712,67825,64576,66953,68460,64333
Arizona,56581,53558,51492,50068,48510,47826,46709,46789,48745,50958,49889
Arkansas,45869,45907,42798,44922,39376,39018,41302,38587,36538,39586,38134
California,71805,67739,64500,61933,60190,58328,57287,57708,58931,61021,59948

In [250]:
income.shape

(51, 11)

In [251]:
region.head()

           Abb Region            Division
State
Alabama     AL  South  East South Central
Alaska      AK   West             Pacific
Arizona     AZ   West            Mountain
Arkansas    AR  South  West South Central
California  CA   West             Pacific

In [252]:
region.shape

(50, 3)

## Data Quality

 we’ll examine if the data is complete. We’ll check if we have all the cases we need (in this case, all the US states) and if there are missing values.

In the U.S. there are 50 states, the federal district 'District of Columbia' and 5 inhabited territories: 'Puerto Rico', 'American Samoa', 'Guam', 'Northern Mariana Islands', and 'U.S. Virgin Islands’.

We'll check if all the files we loaded contain the fifty states and if there are differences, we'll investigate where these differences come from.

In [256]:
# define a variable state_names with the states in the index of region
state_names = region.index.values
state_names

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New_Hampshire', 'New_Jersey', 'New_Mexico',
       'New_York', 'North_Carolina', 'North_Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode_Island', 'South_Carolina',
       'South_Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
       'Virginia', 'Washington', 'West_Virginia', 'Wisconsin', 'Wyoming'],
      dtype=object)

In [257]:
len(state_names)

50

**check where is the difference between the education, life expectancy, crime, and income files**

In [259]:
[x for x in education.index if x not in region.index]

['District_of_Columbia']

In [260]:
[x for x in life_expectancy.index if x not in region.index]

['American_Samoa',
 'District_of_Columbia',
 'Guam',
 'Northern_Mariana_Islands',
 'Puerto_Rico',
 'U.S._Virgin_Islands',
 'United_States']

In [261]:
[x for x in area.index if x not in region.index]

[]

**check which dataframe has missing values**

In [262]:
education.isnull().sum()

HSGradPer    0
BADegPer     0
AdvDegPer    0
dtype: int64

In [263]:
life_expectancy.isnull().sum()

LifeExp2018    1
LifeExp2010    0
MaleLifeExp    0
FemLifeExp     0
dtype: int64

In [264]:
crime.isnull().sum()

PopTot           0
MurderNMTot      0
MurderTot        2
GunMurderTot     2
GunOwnPer        0
MurderNMRate     0
MurderRate       2
GunMurderRate    2
dtype: int64

**which states have the missing values**

In [265]:
nan_cols = ['MurderTot','GunMurderTot','MurderRate','GunMurderRate']
crime_nan = crime.loc[:,nan_cols]
nan_rows = crime_nan.isnull().any(axis=1)
crime_nan.loc[nan_rows,:]

         MurderTot  GunMurderTot  MurderRate  GunMurderRate
State
Alabama        NaN           NaN         NaN            NaN
Florida        NaN           NaN         NaN            NaN

In [266]:
income.isnull().sum()

Income2017    0
Income2016    0
Income2015    0
Income2014    0
Income2013    0
Income2012    0
Income2011    0
Income2010    0
Income2009    0
Income2008    0
Income2007    0
dtype: int64

In [267]:
area.isnull().sum()

TotalSqMi    0
TotalKmQ     0
LandSqMi     0
LandKmQ      0
LandPer      0
WaterSqMi    0
WaterKmQ     0
WaterPer     0
dtype: int64

In [268]:
crime.isnull().sum()

PopTot           0
MurderNMTot      0
MurderTot        2
GunMurderTot     2
GunOwnPer        0
MurderNMRate     0
MurderRate       2
GunMurderRate    2
dtype: int64

In the U.S. there are fifty states, the federal district 'District of Columbia' and five inhabited territories: 'Puerto Rico', 'American Samoa', 'Guam', 'Northern Mariana Islands', and 'U.S. Virgin Islands'.

All datasets contain the fifty states. Some contain also the District of Columbia and some of the inhabited territories. 
The results are in the following table:

Dataframe    | # records |  all states? |  Dist. of Columbia? |  Puerto Rico? 
------------ | ----------|--------------|---------------------|---------------
edu          |     51    |      yes     |         yes         |     no 
life_exp     |     56    |      yes     |         yes         |     yes 
crime        |     51    |      yes     |         yes         |     no 
area         |     50    |      yes     |         no          |     no 
income       |     51    |      yes     |         yes         |     no 
region       |     50    |      yes     |         no          |     no 

The dataframe for life expectancy also contained rows for the other four inhabited territories: 'American_Samoa',
'Guam', 'Northern_Mariana_Islands', 'U.S._Virgin_Islands'.  

The dataframe crime contains missing values in the columns *MurderTot*, *GunMurderTot*, *MurderRate*, and *GunMurderRate* for the states of *Alabama* and *Florida*.

## Save data